

:root{
   --turquesa: #00C4BB;
   --azul: #001A70;
   --gris: #97999B;
   --blanco: #FFF;
   --texto: rgb(102, 101, 101);
}

.main{
   width: 1070px;
   margin: 30px auto;
   font-family: 'Dosis', sans-serif;

   align-content: center;
   display: grid;
   gap: 30px;
   grid-template-columns: auto auto auto;
   /* grid-template-rows: 2; */
}

.card{
   background-color: var(--blanco);
   width: 300px;
   height: 400px;
   box-shadow: 5px 10px 10px #c5c2c2;
}

.imagen{
   width: 100%;
   background-size: cover;
}

.card_contenido{
   padding: 10px 15px 10px;
}

.card_titulo{
   color: var(--azul);
   margin: 5px 0px 10px 0px;
}

.card_texto{
   color: var(--texto);
   font-size: 0.9rem;
}

.card_boton{
   background-color: var(--blanco);
   color: var(--turquesa);
   text-decoration: none;
   border: solid 1px;

   font-size: 14px;
   width: 92%;
   height: 20px;
   padding: 5px 0;
   margin: 0 auto;

   display: flex;
   justify-content: center;
   align-items: center;
   
}

@media only screen and (max-width: 1027px) {
   .main{
      width: 685px;
      grid-template-columns: 350px 350px;
   }
}