
*{
   padding: 0;
   margin: 0;
}

main{
   width: 1100px;
   height: 390px;
   margin: 60px auto;
}

:root{
   --turquesa: #00C4BB;
   --azul: #001A70;
   --gris: #97999B;
   --blanco: #FFF;
   --texto: rgb(102, 101, 101);
   --gris_oscuro: #303134;

}

a{
   text-decoration: none;
}

hr{
   width: 95%;
   color: #D9D9D945;
   margin: 0 auto 30px;
   float: none;
}

/*
------------------------------------------------------------
   Principal
*/
.contenedor_educacion_financ{
   width: 1100px;
   height: 390px;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.educacion_finanaciera{
   width: 100%;
   height: 155px;
   margin: 0 auto;
}

.educacion_finanaciera img{
   float: left;
   width: 145px;
}

.contenedor_concepto{
   padding: 10px 35px 0px 35px;
   float: left;
   width: 885px;
}

.contenedor_concepto h2{
   color: var(--azul);
   margin-bottom: 15px;
   letter-spacing: -1px;
   font-size: 1.5rem;
   font-family: 'Montserrat';
   font-weight: lighter;
}

.text_concepto{
   color: var(--texto);
   font-size: 1rem;
   font-family: 'Montserrat';
   text-align: justify;
   line-height: 23px;
}

/* 
------------------------------------------------------------
*/

.contenedor_opciones{
   display: grid;
   gap: 50px;
   grid-template-columns: auto auto auto auto;
   justify-content: center;
}

.opcion{
   width: 210px;
   height: 226px;
   transform: translateY(6px);
   transition: all 0.1s;
   border: solid 2px var(--azul);
   border-radius: 0px 20px 0px;
   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.opcion:hover{
   transform: translateY(-1px);
   transition: all 0.25s;
}

.opcion img{
   width: 90px;
   margin: 0 auto;
   display: block;
   margin-top: 40px;
   margin-bottom: 30px;
}

.opcion h3{
   font-family: 'Montserrat';
   font-weight: lighter;
   text-align:center;
}


/*
------------------------------------------------------------
   Productos
*/
.contenedor_productos{
   padding: 18px 50px 0px 50px;
   float: left;
   width: 1000px;
   text-align:center;
}

.contenedor_productos h2{
   color: var(--azul);
   margin-bottom: 15px;
   letter-spacing: -1px;
   font-size: 1.5rem;
   font-family: 'Montserrat';
   font-weight: lighter;
}

.text_productos{
   color: var(--texto);
   font-size: 1rem;
   font-family: 'Montserrat';
   line-height: 23px;
}

/*
------------------------------------------------------------
*/

.contenedor_cards{
   width: 1000px;

   display: grid;
   gap: 25px;
   grid-template-columns: auto auto auto;
}

.main_card{
   width: 300px;
   height: 216px;
   background-color: var(--gris_oscuro);
   border-radius: 10px;
   box-shadow: 5px 10px 10px #c5c2c2;
   padding: 0 25px;
   float: left;
   padding: 40px 0px;
   font-family: 'Montserrat';
}

.main_card img{
   width: 100px;
   margin: 20px auto;
   color: var(--turquesa);
   display: block;
}

.main_card h2{
   color: var(--turquesa);
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   display: flex;
   font-weight: bold;
}

.card{
   width: 250px;
   height: 280px;
   border-radius: 10px;
   border: solid 2px var(--azul);
   box-shadow: 5px 10px 10px #c5c2c2;
   padding: 15px 25px 0px 25px;
   float: left;
   font-family: 'Dosis', sans-serif;
}

.card h3{
   margin: 5px 0px 20px 0px;
   color: var(--azul);
   font-size: 1.2rem;
   font-weight: bold;
}

.card p{
   color: var(--texto);
   text-align: justify;
}

.productos_boton{
   width: 80px;
   height: 30px;
   background-color: var(--gris_oscuro);
   border-radius: 6px;
   border: none;
   color: var(--blanco);
   margin: 15px 10px;
   justify-content: center;
   align-items: center;
}


@media only screen and (max-width: 1027px) {
   
}