

:root{
   --turquesa: #00C4BB;
   --azul: #001A70;
   --gris: #97999B;
   --blanco: #FFF;
   --texto: rgb(102, 101, 101);
}

.podcast_contenedor{
   font-family: 'Dosis', sans-serif;
   margin: 0 auto;
   margin-bottom: 60px;
}

hr{
   width: 95%;
   color: #D9D9D945;
   margin: 0 auto 30px;
}

.podcast_contenedor h3{
   color: var(--azul);
   font-weight: inherit;
   font-family: "Lato";
   font-size: 1.5rem;
   margin-bottom: 15px;
}

.podcast_contenedor p{
   font-size: 0.96rem;
   color: var(--texto);
   line-height: 1.6;
   margin-bottom: 15px;
}

.podcast_card{
   width: 620px;
   height: 202px;
   background-color: var(--gris);
   color: var(--blanco);
   border-radius: 12px;
   padding: 15px;
}

#pod_card_2{
   background-color: var(--azul);
}

.podcast_image{
   width: 200px;
   height: 200px;
   border-radius: 8px;
   box-shadow: 0px 2px 10px #0c0c0cb3;
   color: var(--blanco);
   float: left;
   margin-right: 20px;
}

#pod_1{
   background-image: url("/img/podcast_1.jpg");
}

#pod_2{
   background-image: url("/img/podcast_2.jpg");
}

#pod_3{
   background-image: url("/img/podcast_3.jpg");
}

.podcast_image h3{
   color: var(--blanco) !important;
   font-size: 1.5rem;
   position: relative;
   top: 146px;
   margin-left: 6px;
}

.sub_tittle{
   color: var(--blanco) !important;
   font-size: 1.6rem;
   position: relative;
   top: 124px;
   margin-left: 6px;
}

.podcast_content{
   color: var(--blanco) !important;
   height: 105px;
}

.podcast_content h3{
   color: var(--blanco) !important;
   margin-left: 20px;
   margin-top: 60px;
   font-weight: bold;
}

#spotify{
   width: 100px;
   filter: drop-shadow(0px 2px 2px #0c0c0c5e);}

#play{
   width: 40px;
   float: right;
   filter: drop-shadow(0px 2px 2px #0c0c0c5e);}