
*{
   margin: 0;
   padding: 0;
}

:root{
   --turquesa: #00C4BB;
   --azul: #001A70;
   --gris: #97999B;
   --blanco: #FFF;
   --texto: rgb(102, 101, 101);
   --gris_oscuro: #303134;
}

.productos_boton{
   width: 80px;
   height: 30px;
   background-color: var(--gris_oscuro);
   border-radius: 6px;
   border: none;
   color: var(--blanco);
   margin: 15px 10px;
   justify-content: center;
   align-items: center;
}

hr{
   width: 95%;
   color: #D9D9D945;
   margin: 0 auto 30px;
   float: none;
}

.contenedor_productos{
   width: 1070px;
   margin: 30px auto;
   font-family: 'Dosis', sans-serif;

   align-content: center;
   display: grid;
   gap: 30px;
   grid-template-columns: auto auto auto;
}

/* Main card */
/* ------------------------------------------------ */
.main_card{
   width: 300px;
   height: 220px;
   background-color: var(--gris_oscuro);
   border-radius: 10px;
   box-shadow: 5px 10px 10px #c5c2c2;
   padding: 0 25px;
   float: left;
   padding: 80px 0px;
   font-family: 'Dosis', sans-serif;

}

.producto_imagen{
   width: 100px;
   margin: 20px auto;
   color: var(--turquesa);
   display: block;
}

.main_card h2{
   color: var(--turquesa);
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   display: flex;
   font-weight: bold;
}


/* Product card */
/* ------------------------------------------------ */
.producto_card{
   width: 250px;
   height: 380px;
   background-color: var(--turquesa);
   border-radius: 10px;
   box-shadow: 5px 10px 10px #c5c2c2;
   padding: 0 25px;
   float: left;
   font-family: 'Dosis', sans-serif;
}

.producto_card h3{
   margin: 5px 0px 20px 0px;
   color: var(--blanco);
   font-size: 1.2rem;
   font-weight: bold;
}

.producto_card p{
   color: var(--blanco);
   text-align: justify;

}



@media only screen and (max-width: 1027px) {
   .contenedor_productos{
      width: 685px;
      grid-template-columns: auto auto;
   }
}