

:root{
   --turquesa: #00C4BB;
   --azul: #001A70;
   --gris: #97999B;
   --blanco: #FFF;
   --texto: rgb(102, 101, 101);
}

.contenedores{
   width: 320px;
   height: 402px;
   float: left;
   margin-right: 35px;
   transform: translateY(15px);
   /* box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
   transition: all 0.1s;
}

.contenedores:hover{
   transform: translateY(-1px);
   transition: all 0.25s;
}

/* .texto h4:hover ~ p{
   width: 400px;
} */


.imagen img{
   width: 320px;
   height: 100%;
   border-radius: 20px 0px 0px 0px;
   /* box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
   transition: all 0.25s;
   filter: grayscale();
}

.imagen img:hover{
   filter: grayscale(0);
}

.texto{
   width: 290px;
   height: 130px;
   padding: 15px 15px 0 15px;
   background-color: var(--turquesa);
   color: var(--blanco);
   margin-top: -3px;
   border-radius: 0px 0px 20px 0px;
   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.texto img{
   width: 35px;
   margin: 0 auto;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: auto;
   margin-left: 60px;
   margin-bottom: 10px;
   color: var(--blanco);
   margin-left: 3px;
   margin-top: 3px;
}

.texto h4{
   letter-spacing: -1px;
   font-size: 1rem;
}

.texto p{
   font-size: 0.8rem;
   margin-top: 6px;
   /* text-align: justify; */
}

.texto_icon{
   width: 44px;
   height: 44px;
   border-width: 1px;
   border-color: var(--blanco);
   border-style: solid;
   border-radius: 50%;
   margin-bottom: 6px;
   margin-right: 10px;
   float: left;
}

/* 
button{
   background-color: var(--blanco);
   border: none;
   color: var(--turquesa);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 10px;
   margin-top: 20px;
} */